{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

    <title>vertical - parallax</title>    
    
    <link rel="stylesheet" href="{% static 'css/plugin/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/plugin/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub.css' %}"/>
    <script src="{% static 'js/plugin/jquery-1.8.1.min.js' %}"></script>
    <script src="{% static 'js/plugin/jquery.easing.1.3.min.js' %}"></script>
    <script src="{% static 'js/plugin/prefixfree.min.js' %}"></script>
    <script src="{% static 'js/plugin/respond.min.js' %}"></script>
    <script src="{% static 'js/plugin/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/plugin/logic.js' %}"></script>
    <script src="{% static 'js/sub.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    
<style>
   #map {
    height: 400px;
    width: 100%;
   }
</style>
</head>

{% block content %}
{% endblock %}

</html>
