{% extends "main/cafe/base.html" %}

{% block content %}
{% load staticfiles %}

    <!-- content-area 시작 -->
    <div class="content-area">
        <!-- cafe-list 시작 -->
        <div class="cafe-list">
            <div class="grid">
              {% for i in cafelistobj %}
                <!-- 카페 1개 시작 -->
                <section class="cafe-item">
                    <figure class="cafe-item-photo">
                        {% if i.메인사진 %}
                        <img src="{{ i.메인사진.url }}" alt="">
                        {% endif %}
                    </figure>
                    <div class="cafe-item-info">
                        <a href="{% url 'cafe_list' i.id %}" style="text-decoration:none"><h1>{{i.이름}}</h1></a>
                        <a href="{% url 'cafe_list_one_json' i.id %}" style="text-decoration:none"><h1>{{i.이름}}_json으로 보내기</h1></a>
                        <div>
                            글번호: {{i.pk}} 
                        </div>
                        <p>개발자와 디자이너들을 위한 카페에요.</p>
                        <ul class="cafe-item-contact">
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                {{i.위치}}
                            </li>
                            <li>
                                <i class="fas fa-phone"></i>
                                {{i.전화}}
                            </li>
                            <li>
                                <i class="fab fa-instagram"></i>
                                {{i.인스타}}
                            </li>
                            <li>
                               <td><a href="{% url 'cafe_edit' i.id %}">edit</a></td>
                            </li>
                            <li>
                               <td><a href="{% url 'cafe_delete' i.id %}">delete</a></td>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- 카페 1개 끝 -->
                {% endfor %}
            </div>
        </div>
        <!-- cafe-list 끝 -->
    </div>
    <!-- content-area 끝 -->

    <!-- global-footer 시작 -->
    <footer class="global-footer">
        <div class="grid">
            <p class="copyright">
                2018 &copy; 제주카페찾기
            </p>
        </div>
    </footer>
    <!-- global-footer 끝 -->
</div>

<script src="{% static 'js/index.js' %}"></script>
</body>
{% endblock content %}
