{% extends "main/cafe/base.html" %}

{% block content %}
{% load staticfiles %}
<body class="page-list">
<div class="jejucafe-container">
    <!-- global-header 시작 -->
    <header class="global-header">
        <div class="grid">
            <button class="global-menu-btn">
                <i class="fas fa-bars"></i>
                <span class="btn-label">메뉴</span>
            </button>
            <a class="logo" href="/cafe">
                <img src="{% static 'images/logo.png' %}" alt="제주카페찾기">
            </a>
            <div class="global-menu">
                <nav class="global-menu-nav">
                    <ul>
                        <li class="menu-item-about">
                            <a href="/cafe/about">서비스 소개</a>
                        </li>
                        <li class="menu-item-list">
                            <a href="/cafe/cafelist">카페들</a>
                        </li>
                    </ul>
                    <a href="/cafe/write" class="add-cafe-btn">
                        <i class="fas fa-plus"></i>
                        <span class="btn-label">카페등록</span>
                    </a>
                </nav>
                <form class="search-cafe-form text-input-and-btn">
                    <div class="input-wrapper">
                        <input type="search" placeholder="찾고 싶은 카페 이름">
                    </div>
                    <button class="icon-btn search-cafe-form-btn">
                        <i class="fas fa-search"></i>
                        <span class="btn-label">카페찾기</span>
                    </button>
                </form>
            </div>
        </div>
    </header>
    <!-- global-header 끝 -->

    <!-- content-area 시작 -->
    <div class="content-area">
        <!-- cafe-list 시작 -->
        <div class="cafe-list">
            <div class="grid">
              {% for i in cafelistobj %}
                <!-- 카페 1개 시작 -->
                <section class="cafe-item">
                    <figure class="cafe-item-photo">
                        {% if i.메인사진 %}
                        <img src="{{ i.메인사진.url }}" alt="">
                        {% endif %}
                    </figure>
                    <div class="cafe-item-info">
                        <a href="/cafe/cafelist/{{i.pk}}" style="text-decoration:none"><h2>{{i.pk}} {{i.이름}}</h2></a>
                        <p>개발자와 디자이너들을 위한 카페에요.</p>
                        <ul class="cafe-item-contact">
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                {{i.위치}}
                            </li>
                            <li>
                                <i class="fas fa-phone"></i>
                                {{i.전화}}
                            </li>
                            <li>
                                <i class="fab fa-instagram"></i>
                                {{i.인스타}}
                            </li>
                            <li>
                               <td><a href="{% url 'book_edit' i.id %}">edit</a></td>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- 카페 1개 끝 -->
                {% endfor %}
            </div>
        </div>
        <!-- cafe-list 끝 -->
    </div>
    <!-- content-area 끝 -->

    <!-- global-footer 시작 -->
    <footer class="global-footer">
        <div class="grid">
            <p class="copyright">
                2018 &copy; 제주카페찾기
            </p>
        </div>
    </footer>
    <!-- global-footer 끝 -->
</div>

<script src="{% static 'js/index.js' %}"></script>
</body>
{% endblock content %}
