@font-face {
  font-family: 'iconfont-general';
  src:  url('../fonts/iconfont-general-webfont.eot?hw38j0');
  src:  url('../fonts/iconfont-general-webfont.eot?hw38j0#iefix') format('embedded-opentype'),
    url('../fonts/iconfont-general-webfont.ttf?hw38j0') format('truetype'),
    url('../fonts/iconfont-general-webfont.woff?hw38j0') format('woff'),
    url('../fonts/iconfont-general-webfont.svg?hw38j0#iconfont-general') format('svg');
  font-weight: normal;
  font-style: normal;
}

.if-general {
  display: inline-block;
  font-family: 'iconfont-general' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.if-general-address-book:before {
  content: "\e900";
}
.if-general-archive:before {
  content: "\e901";
}
.if-general-arrows:before {
  content: "\e902";
}
.if-general-arrows-h:before {
  content: "\e903";
}
.if-general-arrows-v:before {
  content: "\e904";
}
.if-general-asterisk:before {
  content: "\e905";
}
.if-general-at:before {
  content: "\e906";
}
.if-general-audio-description:before {
  content: "\e907";
}
.if-general-balance-scale:before {
  content: "\e908";
}
.if-general-barcode:before {
  content: "\e909";
}
.if-general-bars:before {
  content: "\e90a";
}
.if-general-bath:before {
  content: "\e90b";
}
.if-general-bell:before {
  content: "\e90c";
}
.if-general-blind:before {
  content: "\e90d";
}
.if-general-bluetooth:before {
  content: "\e90e";
}
.if-general-bolt:before {
  content: "\e90f";
}
.if-general-book:before {
  content: "\e910";
}
.if-general-bookmark:before {
  content: "\e911";
}
.if-general-briefcase:before {
  content: "\e912";
}
.if-general-bug:before {
  content: "\e913";
}
.if-general-calculator:before {
  content: "\e914";
}
.if-general-calendar:before {
  content: "\e915";
}
.if-general-calendar-check:before {
  content: "\e916";
}
.if-general-calendar-minus:before {
  content: "\e917";
}
.if-general-calendar-plus:before {
  content: "\e918";
}
.if-general-cart:before {
  content: "\e919";
}
.if-general-check:before {
  content: "\e91a";
}
.if-general-check-circle:before {
  content: "\e91b";
}
.if-general-check-square:before {
  content: "\e91c";
}
.if-general-circle:before {
  content: "\e91d";
}
.if-general-clock:before {
  content: "\e91e";
}
.if-general-clone:before {
  content: "\e91f";
}
.if-general-close:before {
  content: "\e920";
}
.if-general-cloud:before {
  content: "\e921";
}
.if-general-cloud-download:before {
  content: "\e922";
}
.if-general-cloud-upload:before {
  content: "\e923";
}
.if-general-code:before {
  content: "\e924";
}
.if-general-code-fork:before {
  content: "\e925";
}
.if-general-cog:before {
  content: "\e926";
}
.if-general-cogs:before {
  content: "\e927";
}
.if-general-comment:before {
  content: "\e928";
}
.if-general-commenting:before {
  content: "\e929";
}
.if-general-comments:before {
  content: "\e92a";
}
.if-general-copyright:before {
  content: "\e92b";
}
.if-general-credit-card:before {
  content: "\e92c";
}
.if-general-crop:before {
  content: "\e92d";
}
.if-general-cube:before {
  content: "\e92e";
}
.if-general-cubes:before {
  content: "\e92f";
}
.if-general-dashboard:before {
  content: "\e930";
}
.if-general-database:before {
  content: "\e931";
}
.if-general-deaf:before {
  content: "\e932";
}
.if-general-download:before {
  content: "\e933";
}
.if-general-drivers-license:before {
  content: "\e934";
}
.if-general-edit:before {
  content: "\e935";
}
.if-general-ellipsis-h:before {
  content: "\e936";
}
.if-general-ellipsis-v:before {
  content: "\e937";
}
.if-general-envelope:before {
  content: "\e938";
}
.if-general-eraser:before {
  content: "\e939";
}
.if-general-exchange:before {
  content: "\e93a";
}
.if-general-exclamation:before {
  content: "\e93b";
}
.if-general-exclamation-circle:before {
  content: "\e93c";
}
.if-general-exclamation-triangle:before {
  content: "\e93d";
}
.if-general-exteranl-link:before {
  content: "\e93e";
}
.if-general-eye:before {
  content: "\e93f";
}
.if-general-eye-slash:before {
  content: "\e940";
}
.if-general-feed:before {
  content: "\e941";
}
.if-general-female:before {
  content: "\e942";
}
.if-general-filter:before {
  content: "\e943";
}
.if-general-flag:before {
  content: "\e944";
}
.if-general-folder:before {
  content: "\e945";
}
.if-general-folder-open:before {
  content: "\e946";
}
.if-general-gift:before {
  content: "\e947";
}
.if-general-glass:before {
  content: "\e948";
}
.if-general-globe:before {
  content: "\e949";
}
.if-general-graduation-cap:before {
  content: "\e94a";
}
.if-general-group:before {
  content: "\e94b";
}
.if-general-hashtag:before {
  content: "\e94d";
}
.if-general-heart:before {
  content: "\e94e";
}
.if-general-history:before {
  content: "\e94f";
}
.if-general-id-card:before {
  content: "\e950";
}
.if-general-image:before {
  content: "\e951";
}
.if-general-inbox:before {
  content: "\e952";
}
.if-general-info:before {
  content: "\e953";
}
.if-general-info-circle:before {
  content: "\e954";
}
.if-general-key:before {
  content: "\e955";
}
.if-general-language:before {
  content: "\e956";
}
.if-general-level-down:before {
  content: "\e957";
}
.if-general-level-up:before {
  content: "\e958";
}
.if-general-lock:before {
  content: "\e959";
}
.if-general-magic:before {
  content: "\e95a";
}
.if-general-male:before {
  content: "\e95b";
}
.if-general-microphone-slash:before {
  content: "\e95c";
}
.if-general-minus:before {
  content: "\e95d";
}
.if-general-minus-circle:before {
  content: "\e95e";
}
.if-general-minus-square:before {
  content: "\e95f";
}
.if-general-moon:before {
  content: "\e960";
}
.if-general-music:before {
  content: "\e961";
}
.if-general-navicon-web:before {
  content: "\e962";
}
.if-general-handshake-o:before {
  content: "\e94c";
}
